*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    color: white;
}


.left{
    width:22.5vw;
    padding:5px;
}
.right{
    width:77.5vw;
}
.home ul li{
    display:flex;
    gap:10px;
    list-style: none;
    width:16px;
    padding-top: 15px;
    font-weight: bold;
}
.p1{
    padding:8px;
}
.heading{
    display:flex;
    gap:10px;
    width:100%;
    padding-top: 15px;
    font-weight: bold;
    align-items: center;
    font-size: 13px;
}
.heading img{
    width:25px;
}
.library{
    min-height: 75vh;
    position: relative;
}
.footer{
    display:flex;
    font-size: 10px;
    gap:15px;
    position: absolute;
    bottom: 0;
}
.footer a{
    color: grey;
    text-decoration-line: none;
}
.right{
    margin:16px 0;
}
.header{
    display: flex;
    justify-content:space-between;
    background-color: rgb(34 34 34);
}
.header > *{
    padding:20px;
}
.popularartists{
    padding:15px;
}